<nav>
  <ul class="row equipments">
    <li class="col-md-1<%= locals.view === 'mainhands' ? ' active' : '' %>"><a href="mainhands">Mainhands</a></li>
    <li class="col-md-1<%= locals.view === 'offhands' ? ' active' : '' %>"><a href="offhands">Offhands</a></li>
  </ul>
</nav>
