<nav>
  <ul class="row equipments">
    <li class="col-md-1<%= locals.title === 'mainhands' ? ' active' : '' %>"><a href="mainhands">Mainhands</a></li>
    <li class="col-md-1<%= locals.title === 'offhands' ? ' active' : '' %>"><a href="offhands">Offhands</a></li>
    <li class="col-md-1<%= locals.title === 'bodies' ? ' active' : '' %>"><a href="bodies">Bodies</a></li>
    <li class="col-md-1<%= locals.title === 'necklaces' ? ' active' : '' %>"><a href="necklaces">Necklaces</a></li>
  </ul>
</nav>
