<th id="count" title="<%= locals.count %>"><%= locals.count %></th>
<th id="type" class="asc focus">Type</th>
<th id="name" class="asc">Name</th>
<th id="power" class="asc number"><img src="/power.png" alt="" title="Power&nbsp;(%)"><span class="invisible">Power&nbsp;(%)</span></th>
<th id="stamina" class="asc number"><img src="/stamina.png" alt="" title="Stamina&nbsp;(%)"><span class="invisible">Stamina&nbsp;(%)</spna></th>
<th id="agility" class="asc number"><img src="/agility.png" alt="" title="Agility&nbsp;(%)"><span class="invisible">Agility&nbsp;(%)</spna></th>
<th id="skill1">Skill&nbsp;1</th>
<th id="skill2">Skill&nbsp;2</th>
<th id="skill3">Skill&nbsp;3</th>
<th id="skill4">Skill&nbsp;4</th>
<th id="zone" class="asc">Zone</th>
