<th id="count" title="<%= locals.count %>"><%= locals.count %></th>
<th id="type" class="asc focus">Type</th>
<th id="name" class="asc">Name</th>
<th id="power" class="number"><img src="/power.png" alt="" title="Power"><span class="invisible">Power</span></th>
<th id="stamina" class="number"><img src="/stamina.png" alt="" title="Stamina"><span class="invisible">Stamina</spna></th>
<th id="agility" class="number"><img src="/agility.png" alt="" title="Agility"><span class="invisible">Agility</spna></th>
<th id="baseStats" class="asc number">Base&nbsp;stats</th>
<th id="upgrade1" class="asc number">Upgrade&nbsp;1</th>
<th id="upgrade2" class="asc number">Upgrade&nbsp;2</th>
<th id="upgrade3" class="asc number">Upgrade&nbsp;3</th>
<th id="upgrade4" class="asc number">Upgrade&nbsp;4</th>
<th id="maxedStats" class="asc number">Maxed&nbsp;stats</th>
<th id="tier" class="asc number">Tier</th>
<th id="zone" class="asc">Zone</th>
